@using InvoiceCalendar.WebUI.HtmlHelpers;
@model InvoiceCalendar.WebUI.Models.InvoicesListViewModel


@{
    ViewBag.Title = "Faktury";
}

@foreach (var i in Model.Invoices)
{
    <div>
        <h3>@i.Company</h3>
        @i.Date.Day / @i.Date.Month / @i.Date.Year
        <h4>@i.Price.ToString("c")</h4>
    </div>
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

