@model InvoiceCalendar.Domain.Entities.Invoice

<div class="well">
    <h3>
        <strong>@Model.Company</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    </h3>
    <span class="lead">@Model.Date.Day / @Model.Date.Month / @Model.Date.Year</span>
</div>